
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 1.5rem;
}

.gap-3 {
    gap: 2rem;
}

img {
    max-width: 100%;
}

.m-0{
    margin: 0;
}